{{>header}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <template id="book_template">
	<div class="container template-container">
		<label>저자: </label>
 		<input type="text" name="author" @input="inputAuthor" {{#item.author}}	value="{{.}}"	{{/item.author}}{{^item.author}} value="" {{/item.author}} />
 		<label>isbn: </label>
		<input type="text" name="isbn" @input="inputIsbn" {{#item.isbn}}value="{{.}}"{{/item.isbn}}{{^item.isbn}}value=""{{/item.isbn}}/>
	</div>
 </template>

 <template id="album_template">
	<div class="container template-container">
		<label>아티스트: </label>
 		<input type="text" name="artist" @input="inputArtist" {{#item}} value="{{artist}}" {{/item}}/>
 		<label>etc: </label>
 		<input type="text" name="etc" @input="inputEtc"   {{#item.etc}}value="{{.}}" {{/item.etc}}  {{^item.etc}} value="" {{/item.etc}}/>
	</div>
 </template>

 <template id="movie_template">
	<div class="container template-container">
		<label>감독: </label>
 		<input type="text" name="director" @input="inputDirector" {{#item}} value="{{director}}"{{/item}}/>
 		<label>배우: </label>
 		<input type="text" name="actor" @input="inputActor" {{#item}} value="{{actor}}"{{/item}}/>
	</div>
 </template>
 
 <script type="text/javascript">
	Vue.component('book-component',{
		data:function(){
			return {author: null, 
					 isbn: null }
		},
		methods:{
			inputAuthor(e){
				this.author = e.target.value;
				this.$emit('author', e.target.name, this.author);
			},
			inputIsbn(e){
				this.isbn = e.target.value;
				this.$emit('isbn', e.target.name, this.isbn);
			}
		},
		template: '#book_template'		
	})

	Vue.component('album-component',{
	data:function(){
		return {artist: null, etc: null }
	},
	methods:{
		inputArtist(e){
			this.$emit('artist', e.target.name, e.target.value);
		},
		inputEtc(e){
			this.$emit('etc', e.target.name, e.target.value);
		}
	},
	template: '#album_template'		
	})

	Vue.component('movie-component',{
	data:function(){
		return {artist: null, etc: null }
	},
	methods:{
		inputDirector(e){
			this.$emit('director', e.target.name, e.target.value);
		},
		inputActor(e){
			this.$emit('actor', e.target.name, e.target.value);
		}
	},
	template: '#movie_template'		
	})
 </script>
 <style type="text/css">
.container {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

.template-container{
	margin: 0px;
	width: 100%;
}
</style>
</head>
<body>
	{{^item}}
		<h1>아이템 생성 페이지</h1>
	{{/item}}
	{{#item}}
		<h1>아이템 수정 페이지</h1>
	{{/item}}
	<div id="app">
		<home-btn></home-btn>
		<select name="kindOfItem" v-model="kindOfItem" {{#item}}disabled=""{{/item}}>
			<option value="B">책 등록</option>
			<option value="A">앨범 등록</option>
			<option value="M">영화 등록</option>
		</select>
		<div class="container">
			<label>이름: </label>
			<input name="itemName" type="text" v-model="itemName">
			<label>가격: </label>
			<input name="price" type="number" v-model="price">
			<label>재고: </label>
			<input name="stockQuantity" type="number" v-model="stockQuantity">
			<label>카테고리 선택: </label>
			<select name="category_id" multiple="multiple" v-model="category_id">
				<option selected="selected" value="null">카테고리 선택</option>
				{{#categoryLs}}
					<option disabled="disabled">{{name}}</option>
					{{#child}}
						<option value="{{id}}">▶{{name}}</option>
					{{/child}}
				{{/categoryLs}}
			</select>
			<book-component v-if="kindOfItem == 'B'" @author="updateVal" @isbn="updateVal"></book-component>
			<album-component v-if="kindOfItem == 'A'" @artist="updateVal" @etc="updateVal"></album-component>
			<movie-component v-if="kindOfItem == 'M'" @director="updateVal" @actor="updateVal"></movie-component>
			{{^item}}
				<button @click="submitItem">보내기</button>
			{{/item}}
			{{#item}}
				<button @click="updateItem">수정</button>
			{{/item}}
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				category_id: [{{#item.category_id}}'{{.}}',{{/item.category_id}}],
				itemName: {{#item.itemName}}'{{.}}'{{/item.itemName}}{{^item}}''{{/item}},
				price: {{#item.price}}'{{.}}'{{/item.price}}{{^item}}''{{/item}},
				stockQuantity: {{#item.stockQuantity}}'{{.}}'{{/item.stockQuantity}}{{^item}}''{{/item}},
				kindOfItem: {{#item}}'{{kindOfItem}}'{{/item}}{{^item}}'B'{{/item}},
				author: "{{#item.author}}{{.}}{{/item.author}}",
				isbn: {{#item.isbn}}"{{.}}"{{/item.isbn}}{{^item.isbn}}""{{/item.isbn}},
				artist: {{#item.artist}} "{{.}}" {{/item.artist}}{{^item.artist}} "" {{/item.artist}},
				etc: {{#item.etc}}"{{.}}" {{/item.etc}} {{^item.etc}}""{{/item.etc}},
				director: {{#item.director}}"{{.}}"{{/item.director}} {{^item.director}}""{{/item.director}},
				actor: {{#item.actor}} "{{.}}"{{/item.actor}}{{^item.actor}} ""{{/item.actor}}
			},
			methods: {
				submitItem(){
					axios({
						method: 'post',
						url: '/api/item/create',
						data: {
							category_id: this.category_id,
							itemName: this.itemName,
							price: this.price,
							stockQuantity: this.stockQuantity,
							author: this.author,
							isbn: this.isbn,
							artist: this.artist,
							etc: this.etc,
							director: this.director,
							actor: this.actor,
							kindOfItem: this.kindOfItem
						},
					 	headers: {
					        'Content-Type': 'application/json'
					    }
					}).then(function(res){
						location.reload();
						console.log(res)
					});
				},
				updateItem(){
					axios({
						method: 'post',
						url: '/api/item/update',
						data: {
							{{#item.itemId}}itemId: {{.}}, {{/item.itemId}}
							category_id: this.category_id,
							itemName: this.itemName,
							price: this.price,
							stockQuantity: this.stockQuantity,
							author: this.author,
							isbn: this.isbn,
							artist: this.artist,
							etc: this.etc,
							director: this.director,
							actor: this.actor,
							kindOfItem: this.kindOfItem
						},
					 	headers: {
					        'Content-Type': 'application/json'
					    }
					}).then(function(res){
						location.reload();
						console.log(res)
					});
				},
				updateVal(name, value){
					switch (name) {
						case 'author':
							this.author = value;
							break;
						case 'isbn':
							this.isbn = value;
							break;
						case 'artist':
							this.artist = value;
							break;
						case 'etc':
							this.etc = value;
							break;
						case 'director':
							this.director = value;
							break;
						case 'actor':
							this.actor = value;
							break;
						default:
							break;
					}
				}
			}
		})
	</script>
</body>
</html>