<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/vue/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style type="text/css">
	.currentPage{
		font-weight: bold;
	}
	.list-item{
		margin-right: 5px
	}
</style>
</head>
<body>
	<div id="simple">
		<h2 v-text="message"></h2>
			<input id="nameSearch" name="userName" v-model="searchUserName" placeholder="유저 검색"> 
			<input id="citySearch" name="city" v-model="searchCity" placeholder="도시 검색"> 
			<button id="userSearchBtn" @click="searchMembers">검색</button>
		<div v-for="content in pageDTO.content" style="display: flex; flex-direction: row">
			<div class="list-item" v-text="content.id"></div>
			<div class="list-item" v-text="content.name"></div>
			<div class="list-item" v-text="content.city"></div>
			<div class="list-item" v-text="content.street"></div>
			<div class="list-item" v-text="content.zipcode"></div>
		</div>
		<div style="display: flex; flex-direction: row">
			<div style="margin-right: 10px" @click="getPrevious"><</div>
			<div style="margin-right: 5px" v-text="pageNum" :class="{currentPage: pageNum == pageDTO.currentPage}" v-for="pageNum in pageDTO.page_NUMBERS" @click="getContent">
				
			</div>
			<div style="margin-left: 10px" @click="getNext">></div>
		</div>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#simple',
			data : {
				message : 'Vue.js를 이용한 회원 리스트',
				pageDTO : [],
				searchUserName: "",
				searchCity: ""
			},
			created() {
				let $this = this
				axios('/api/members/0/2')
				.then(function(res){
					console.log(res.data.content)
					$this.pageDTO = res.data
				});
			},
			methods: {
				getContent(e){
					let $this = this
					let currentPage = e.target.innerText - 1
					this.getRequest($this, currentPage);
				},
				getPrevious(){
					let hasPrivious = this.pageDTO.hasPrivious;
					let $this = this
					let previousPage = this.pageDTO.currentPage - 2
					if(hasPrivious){
						this.getRequest($this, previousPage);
					}
				},
				getNext(){
					let hasNext = this.pageDTO.hasNext;
					let $this = this
					let nextPage = this.pageDTO.currentPage;
					if(hasNext){
						this.getRequest($this, nextPage);
					}
				},
				searchMembers(){
					let page = this.pageDTO.currentPage;
					let url = `/api/members/0/2`
					let $this = this;
					axios(url, {
						params: {
							name: this.searchUserName,
							city: this.searchCity
						}
					})
					.then(function(res){
						$this.pageDTO = res.data
					});
				},
				getRequest($this, page){
					let url = `/api/members/${page}/2`
					axios(url, {
						params: {
							name: this.searchUserName,
							city: this.searchCity
						}
					})
					.then(function(res){
						$this.pageDTO = res.data
					});
				}
			}
		})
	</script>
</body>
</html>