{{>header}}
 <style>
 	body{
	 	display: flex;
		flex-direction: row;
		justify-content: center;
 	}
	.wrapper2 {
		display: flex
	}
	.item1{
		margin: 10px;
	}
</style>
<script type="text/javascript">
	function moveTo(url){
		location.href = url;
	}
</script>
</head>
<body>
	<div class="wrapper">
		<h1 style="margin:10px;">메인 페이지야</h1>
		<div class="wrapper2">
			<h2 class="item1" onclick="moveTo('/join')">회원 등록</h2>
			<h2 class="item1" onclick="moveTo('/members/0/2')">회원 조회</h2>
		</div>
		<div class="wrapper2">
			<h2 class="item1" onclick="moveTo('/vue/members/')">회원 조회2</h2>
			<h2 class="item1" onclick=""></h2>
		</div>
		<div class="wrapper2">
			<h2 class="item1" onclick="moveTo('/item/create')">상품 등록</h2>
			<h2 class="item1" onclick="moveTo('/item/list')">상품 조회</h2>
		</div>
		<div class="wrapper2">
			<h2 class="item1" onclick="moveTo('/order/create')">주문 하기</h2>
			<h2 class="item1" onclick="moveTo('/order/list')">주문 조회</h2>
		</div>
	</div>
</body>
</html>